@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --violent: #3E284F;
    --white: #fff;
    --black: #404040;
    --green: #00A441;
    --lightGrey: #f4f4f4;
    --font: 'OpenSans'
}

body {
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper__nav {
    background: var(--violent);
    box-shadow: 0px 0px 20px 0px #3E284F80;
}

.wrapper__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 15px;
}

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--white);
}

.wrapper__navbar-right {
    position: relative;
}

.wrapper__navbar-btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.wrapper__navbar-count {
    position: absolute;
    top: -13px;
    right: -13px;
    background: var(--white);
    color: var(--violent);
    padding: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--violent);
    font-size: 12px;
    font-family: var(--font);
    font-weight: 400;
    transform: scale(0);
    transition: 0.5s;
}

.wrapper__navbar-count.active {
    transform: scale(1);
}

.wrapper__navbar-basket {
    width: 357px;
    height: 391px;
    position: absolute;
    right: -6px;
    top: 70px;
    box-shadow: 0px 4px 10px 0px #00000033;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s;
    transform: translate(-150px);
    opacity: 0;
}

.wrapper__navbar-basket.active {
    transform: translate(0%);
    opacity: 1;
}

.wrapper__navbar-basket::before {
    content: url('../images/arrow-basket.svg');
    top: -17px;
    right: 11px;
    position: absolute;
    z-index: -1;
}

.wrapper__navbar-top {
    padding: 13px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #775194;
    border-radius: 10px 10px 0 0;
    color: var(--white);
    font-family: var(--font);
    font-weight: 700px;
    font-size: 16px;
}

.wrapper__navbar-close {
    width: 20px;
    height: 20px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.wrapper__navbar-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
}

.wrapper__navbar-close::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    background: white;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
}

.wrapper__navbar-checklist {
    background: var(--white);
    padding: 16px 16px;
    height: 100%;
}

.wrapper__navbar-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.wrapper__navbar-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper__navbar-productImage {
    width: 70px;
    height: 54px;
}

.wrapper__navbar-infoSub {
    display: flex;
    flex-direction: column;
}

.wrapper__navbar-infoName {
    color: var(--black);
    font-weight: 400;
}

.wrapper__navbar-infoPrice {
    font-family: var(--font);
    font-weight: 400;
}

.wrapper__navbar-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #bbb;
    overflow: hidden;
}

.wrapper__navbar-symbol {
    border: none;
    outline: none;
    background: none;
    font-style: 16px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper__navbar-amount {
    height: 25px;
    width: 40px;
    background: #eee;
    text-align: center;
    border: 0.5px solid #bbb;
}

.fa-plus:hover {
    background: var(--green);
}

.fa-minus:hover {
    background: red;
}

.wrapper__navbar-bottom {
    background: var(--green);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 14px;
    cursor: pointer;
}

.wrapper__view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 54px;
}

.wrapper__view img {
    width: 80%;
}

.wrapper__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__list-card {
    background: var(--lightGrey);
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 20px 20px -15px #00000040;
    padding: 16px;
    width: 306px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper__list-count {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 5;
    width: 30px;
    height: 30px;
    background: var(--violent);
    border: 2px solid #ffff;
    border-radius: 50%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5;
    opacity: 0;
    font-family: var(--font);
    font-weight: 400;
}

.wrapper__list-count.active {
    opacity: 1;
}

.wrapper__list-image {
    margin-top: -55px;
}

.wrapper__list-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.wrapper__list-sub {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper__list-text {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    background: var(--violent);
    padding: 10px;
    color: var(--white);
    border-radius: 10px;
}

.wrapper__list-btn {
    width: 42px;
    height: 42px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violent);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
}

.wrapper__list-btn:hover {
    background: var(--green);
}

.print {
    width: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.print__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.print__header img {
    filter: invert();
}

.print__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 20px 0;
}

.print__body-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.print__body-item_name{
    display: flex;
    align-items: center;
    gap: 5px;
}